
html,
body {
    background-color: #000000;
	font-size: 14pt;
    color: #D0D0D0;
}
form {
    color: #D0D0D0;
}

#comment-container {
    display: flex;
    flex-direction: column;
}

#comment-section {
    list-style-type: none !important;
    height: auto;
    max-height: 500px;
    overflow: auto;
    width: 500px;
}

#new-comment {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.comment {
    font-size: 16px;
    background-color: #e9e9e9;
    height: auto;
    word-wrap: break-word;
}

#create_game_form {
    width: 25%;
}
#create_game_form input, textarea, select {
    width : 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
#create_game_form label, #submit_area {
    display: block;
}

#create_game_form button {
    margin: 5px 0px;
}

#preview{
    width: 20%;
    padding: 2px 4px;
    margin: 2px;
    border: 1px solid;
}
#preview img{
    width:200px;
    height: 300px;
}


.error {
    width: 20%;
    padding: 2px 4px;
    margin: 2px;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    box-sizing: border-box;

  }
.error:hover {
    background-color: #4948487a;
}

.rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20%;
}
.rating-container img{
    width: 400px;
    height: 500px;
}
.left{
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.left img:hover{
    cursor: pointer;
}
.right{
    transition: 1s ease;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.right:hover{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    box-shadow: 0 0 0 transparent;
    background-color: #fff;
    padding: 0 8px;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-out;
}
nav a:hover {
    box-shadow: 0 2px 4px #ffffff;
    transform: scale(1.1, 1.1);
}
